.node-connector {
    position: relative;
}

.node-connector--horizontal {
    height: 2px;
    display: flex;
    align-items: center;
}

.node-connector__arrow {
    position: absolute;
    right: -6px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 8px solid;
}